@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Oswald:wght@300;500&family=Pacifico&display=swap');
body
{
	margin:0px;
	font-family:sans-serif;
}
header
{
	height:100px;
	width:100%;
	background:#FFFFF0;
	color:black;
	margin-top:0;
}
.h1
{
	height:50px;
	width:100%;
	background:white;
	color:black;
	display:flex;
	text-align:center;
	justify-content:space-between;
	align-items:center;
}
.h1 label
{
	font-family:'oswald',cursive;
	color:darkblue;
	font-size:40px;
	margin-left:10px;
}
form
{
	display:flex;
	text-align:center;
}
.search
{
	height:25px;
	width:400px;
	font-size:20px;
	background:transparent;
	color:black;
}
.submit
{
	height:30px;
	width:50px;
	background:white;
}
.submit img 
{
	height:20px;
	width:20px;
}
.links
{
	display:flex;
	text-align:center;
	justify-content:center;
}
.links li
{
	list-style:none;
	margin-right:20px;
}
.links li a 
{
	text-decoration:none;
	color:black;
}
.links li a:hover
{
	color:deepskyblue;
}
ul 
{
	display:flex;
	text-align:center;
	justify-content:center;
}
li
{
	list-style:none;
	margin-right:20px;
}
li a 
{
	text-decoration:none;
	color:white;
}
.cart-numbers
{
	height:17px;
	width:15px;
	background:deepskyblue;
	position:absolute;
	margin-top:-28px;
	border-radius:20px;
	color:white;
}
.wishlist
{
	font-size:15px;
}
.cart
{
	font-size:15px;
}
.login
{
	font-size:15px;
}
li img
{
	cursor:pointer;
	margin-right:5px;
	width:20px;
	height:18px;
}
.nav
{
	color:black ;
}
.nav:hover
{
	color:rgb(0,183,255);
}
.nav:after
{
	content:'';
	height:2px;
	width:0px;
	right:0px;
	background:rgb(0,183,255);
	display:block;
	bottom:-8px;
	opacity:0;
	transition:0.4s ease-out;
	transition-property:left right;
}
.nav:hover:after
{
	opacity:1;
	left:0;
	width:100%;
}
.category
{
	background:white;
	height:200px;
	display:flex;
	align-items:center;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.box
{
	height:160px;
	width:238px;
	background:white;
	margin-left:10px;
	border-radius:10px;
	padding:3px 3px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content
{
	position:relative;
	color:black;
	background-color:white;
	width:238px;
	margin:0;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	display:none;
	border-bottom-right-radius:20px;
	border-bottom-left-radius:20px;
}
table
{
	width:238px;
	padding:4px 8px;
}
tr 
{
	height:60px;
	cursor:pointer;
}
tr:hover
{
	background:#EDEDED;
}
td 
{
	border-bottom:1px solid black;
	font-size:13px;
}
.box:hover .dropdown-content
{
	display:block;
}
.displayimg img
{
	margin-left:3px;
    height:120px;
	width:230px;
}
p 
{
	text-align:center;
	color:black;
	font-family:poppins;
	margin:11px;
	font-weight:900;
}
.dropdown-content a 
{
	margin-left:20px;
	text-decoration:none;
	color:deepskyblue;
}
.addv
{
	height:500px;
	display:flex;
	overflow:hidden;
	scroll-behavior:smooth;
	background:pink;
}
.addv #previous 
{
	height:70px;
	width:45px;
	background:transparent;
	margin-top:250px;
	position:absolute;
	font-size:40px;
	margin-left:20px;
}
.addv #next 
{
	height:70px;
	width:45px;
	background:transparent;
	margin-top:250px;
	position:absolute;
	font-size:40px;
	right:20px;
}
.addv1 img
{
	height:500px;
	width:1550px;
	cursor:grab;
}
.prglasses
{
	height:500px;
	width:100%;
	margin-top:30px;
}
.section3
{
	height:400px;
	width:100%;
	margin-top:50px;
}
.part1
{
	height:400px;
	width:400px;
	position:absolute;
}
.sometext
{
	height:250px;
	width:350px;
	font-size:30px;
	position:relative;
	top:20%;
	text-align:center;
}
.part2
{
	height:400px;
	width:1150px;
	position:relative;
	float:right;
	display:flex;
}
.part2 .left
{
    left:0px;
    position:absolute;
    margin-top:180px;
    height:50px;
    width:25px;
    background:white;
    color:black;
    font-size:25px;
    display:none;
}
.part2 .right 
{
	margin-top:180px;
    height:50px;
    width:25px;
    background:white;
    color:black;
    font-size:25px;
}
.specs
{
	height:300px;
	width:250px;
	background:white;
	margin-left:30px;
	margin-top:40px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.specs img 
{
	height:150px;
	width:250px;
}
.specs span 
{
	margin-left:90px;
	margin-top:20px;
	font-weight:600;
}
.specs button 
{
	height:50px;
	width:140px;
	background:deepskyblue;
	color:white;
	margin-left:55px;
	margin-top:20px;
	font-size:20px;
	border-radius:10px;
	border-color:deepskyblue;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.section4 
{
	height:900px;
	width:100%;
	padding:20px 0;
}
.heading
{
	height:100px;
	width:100%;
}
h2 
{
    font-family: sans-serif;
    margin:auto;
    text-align: center;
    font-size: 30px;
    max-width: 1400px;
    position:relative;
}
h2:before {
        content: "";
        display: block;
        width: 300px;
        height: 2px;
        background:#5A5A5A;
        left: 0;
        top: 50%;
        position:absolute;
      }
h2:after {
        content: "";
        display: block;
        width: 300px;
        height: 2px;
        background:	#5A5A5A;
        right: 0;
        top: 50%;
        position: absolute;
      }
.fit 
{
	height:800px;
	width:1200px;
	margin:auto;
	position:relative;
}
.fit .fitleft
{
	height:800px;
	width:600px;
	position:absolute;
}
.fitit img
{
	height:510px;
	width:575px;
	margin:10px 10px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.fitone img
{
	height:240px;
	width:575px;
	margin:10px 10px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.fitright
{
	height:800px;
	width:600px;
	position:absolute;
	right:0px;
}
.pic1 img 
{
	height:243px;
	width:575px;
	margin:10px 10px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.section5
{
	height:900px;
	width:100%;
	padding:20px 0;
}
.sections img 
{
	height:380px;
	width:575px;
	margin:10px 10px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.section5 
{
	height:3100px;
	width:100%;
	margin-top:50px;
}
.banners img 
{
	margin-top:40px;
	height:100%;
	width:100%;
}
.heading1
{
	height:50px;
	width:1200px;
	display:flex;
	justify-content:space-between;
	text-align:center;
}
.heading1 h3 
{
    font-family: sans-serif;
    font-size: 30px;
    font-weight:200;
    max-width: 1400px;
    position:relative;
    margin:0px;
}
.banner1img
{
	margin-top:50px;
	height:250px;
	padding:20px 10%;
}
.heading1 h4 
{
	margin-top:20px;
}
.heading1 h4 a 
{
	text-decoration:none;
	color:deepskyblue;
}
.catalog:after
{
	content:'';
	width:2400px;
	height:2px;
	display:block;
	background:black;
	position:absolute;
}
.catalog
{
	height:200px;
	width:1200px;
	display:flex;
	flex-direction:row;
	position:absolute;
	overflow-x:scroll;
}
.catalog::-webkit-scrollbar
{
	display:none;
}
.banner1img button
{
	height:60px;
	width:40px;
	margin-top:60px;
	font-size:30px;
	position:absolute;
	color:solid black;
	background:transparent;
	font-weight:1000;
	border-color:white;
}
.scroll-left
{
	left:130px;
	cursor:pointer;
}
.scroll-right
{
	right:170px;
	cursor:pointer;
}
.eyeglasses img 
{
	height:190px;
	width:330px;
	padding:0px 30px;
	margin-top:10px;
	margin-left:5px;
	justify-content:space-between;
}
.section8
{
	margin-top:100px;
	height:700px;
	width:100%;
}
.text-content
{
	height:100px;
	width:100%;
}
.text-content h1 
{
	text-align:center;
}
.customers 
{
	display:flex;
    flex-direction:row;
	justify-content: center;
	margin-top:100px;
}
.customersimages
{
	margin:0px 20px;
	height:400px;
	width:300px;
}
.customersimages p 
{
	font-size:16px;
	font-style:italic;
}
.customers img 
{
	margin-top:30px;
	height:300px;
	width:250px;
	border-radius:100%;
	border-color:black;
}
.customersrv
{
	text-align:center;
		margin:auto;
}
.customers-review a 
{
}
.partition
{
	width:500px;
	height:300px;
}
footer 
{
	width:100%;
	background:#000042;
	margin-top:30px;
	color:antiquewhite;
	position:relative;
}
#frow-1
{
	height:300px;
	width:1400px;
	margin:auto;
	padding:20px 0;
}
footer h3 
{
	font-size:30px;
	font-weight:300;
}
footer p 
{
	color:antiquewhite;
	text-align:left;
	font-weight:400;

} 
.frow-2 
{
	width:1500px;
}
.frow-2 li
{
	list-style:none;
	width:100%;
	padding:5px;	
}
.frow-2 li label 
{
	display:flex;
	align-items:left;
	padding:10px;
	font-size:20px;
	font-weight:500;
	margin-bottom:2px;
	background:#2B3856;
	cursor:pointer;
	position:relative;
}
.frow-2 li label::after
{
	content:'+';
	font-size:25px;
	position:absolute;
	right:20px;
	transition:0.5s ease;
}
input[type="checkbox"]
{
	display:none;
}
.frow-2 .desc
{
	text-align:left;
	background:#2B3856;
    padding:0 4px;
    max-height:0;
    overflow:hidden;
}
.frow-2 input[type="checkbox"]:checked + label + .desc
{
	max-height:500px;
	padding:10px 15px;
}
.frow-2 input[type="checkbox"]:checked + label::after
{
	transform:rotate(135deg);
}
a 
{
	color:deepskyblue;
}
.frow-3
{
	margin-top:20px;
	display:flex;
}
.c1 
{
	display:flex;
	width:1200px;
}
.c3 ul 
{
	display:flex;
	flex-direction:column;
	text-align:left;
	margin-left:25px;
}
.c3 ul li 
{
	margin-bottom:10px;
}
.frow-3 .c3 
{
	width:250px;
}
.c4
{
	width:280px;
	float:right;
	margin-top:50px;
}
.frow-4
{
	height:100px;
	padding:10px 4%;
	margin-top:30px;
}
.frow-4:before
{
	content:'';
	width:1400px;
	height:2px;
	display:block;
	background:white;
	position:absolute;
}
.connection-links
{
	float:left;
	margin-top:20px;
}
.media-links
{
	margin-top:20px;
	float:right;
	width:270px;
	display:flex;
}
.media-links img 
{
	height:30px;
	width:30px;
	padding:0 5px;
}